<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Desk</a>
    </div>
      <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" >
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/client-login" *ngIf="!isLoggedIn()">Client Login</a></li>
        <li><a routerLink="/employer-login" *ngIf="!isLoggedIn()">Employer Login</a></li>
        <li><a routerLink="/client-register" *ngIf="!isLoggedIn()">Client Register</a></li>
        <li><a routerLink="/employer-register" *ngIf="!isLoggedIn()">Employer Register</a></li>
        <li><a routerLink="/admin" *ngIf="isAdmin() === 'Admin' && isLoggedIn()">Admin</a></li>
        <li><a routerLink="/client-dashboard" *ngIf="isAdmin() === 'Client' && isLoggedIn()">Client Dashboard</a></li>
        <li><a routerLink="/employer-dashboard" *ngIf="isAdmin() === 'Employer' && isLoggedIn()">Employer Dashboard</a></li>
        <li><a routerLink="/" *ngIf="isLoggedIn()" (click)="logout()">Logout</a></li>
      </ul>
        </div>
    <nav class="visible-xs hidden-md-up">
      <ul class="nav nav-pills nav-stacked scrollable-menu" [collapse]="!isCollapsed" (click)="isCollapsed = !isCollapsed;true"  >
        <li class="nav-item" ><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item" ><a class="nav-link" routerLink="/login">Login</a></li>
        <li class="nav-item" ><a class="nav-link" routerLink="/register">Register</a></li>

      </ul>
    </nav>
    </div>
  </nav>
